body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 999;
}

/* Navigation bar */
#gnb_root {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navBar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 10px double #85c124;
  z-index: 999;

  font-size: 0.7rem;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
}

.nav_contents {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 4.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* 홈화면 이동 */
.nav_contents a {
  font-size: 1.5em;
  text-decoration: none;
  color: #85c124;
}

/* 회원가입, 로그인 버튼 */
.nav_contents ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding-inline-start: 0;
}

.nav_contents ul li {
  display: inline-block;
  list-style: none;
}

/* 검색창 */
.nav_contents .search-container {
  /*width: max-content;*/
  width: 45vw;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem 0.7rem 1rem;
  background: #85c124;
  border-radius: 28px;
}

.nav_contents .search-container input {
  width: 90%;
  display: block;
  font-size: 1.4em;
  outline: none;
  border: none;
  background: transparent;
  color: white;

  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

.nav_contents .search-container input::placeholder {
  color: white;
}

.material-symbols-outlined {
  color: white;
  cursor: pointer;
}

main {
  padding: 1em;
  display: flex;
  gap: 2em;
  padding-top: 6rem;
}

/* sign in/out main */
.sign {
  padding: 0 1em 0 1em;
  align-items: center;
  justify-content: center;
  background-color: rgba(199, 204, 194, 0.505);
  height: 100vh;
}

.contents {
  width: 100%;
  font-size: 0.6rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

/* 요일별 분리수거일 컨테이너 */
.contents .firstRow {
  width: 100%;
  height: 35vh;
}

.contents .firstRow .daily {
  width: 100%;
  height: 100%;
}

/* Swiper 좌우 버튼 */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.1rem !important;
}

/* 대형폐기물, 근처 수거함 */
.contents .secondRow {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1em;
}

/* 대형 */
.contents .secondRow .oversizedWaste {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f7d300;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10vw;
  cursor: pointer;
}

.nearText {
  padding-left: 3%;
  padding-bottom: 5%;
  font-weight: bolder;
  text-shadow: 5px 5px 5px #997009;
}
.overText {
  padding-bottom: 7%;
  font-weight: bolder;
  text-shadow: 5px 5px 5px #dfbe04;
}
.imgWrapper {
  width: 25vw;
  padding-top: 7%;
  padding-left: -5%;
}
.oversizeImg {
  width: 25vw;
  padding-top: 15%;
}
.battery1 {
  width: 30%;
  object-fit: contain;
}
.battery2 {
  width: 40%;
  object-fit: contain;
}

/* 근처 */
.contents .secondRow .near {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffaa2b;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10vw;
  cursor: pointer;
}

/* 최하단 정보 */
footer {
  background-color: #333;
  color: white;
  padding: 1em 2em;
  text-align: center;
}

footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 0.5em;
}

/*swiper css*/
.swiper {
  width: 100%;
  height: 100%;
}

#swiper-slide {
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide {
  font-size: 1.5rem;

  background: #85c124;
  border-radius: 30px;
  color: white;
}

.swiper-slide > .daily_contents {
  display: flex;
  height: 70%;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
}

.swiper-slide-active {
  background: #619c03;
}

/* 로그인 */
.login-wrapper {
  width: 80%;
  padding: 40px;
  border-radius: 30px;
  height: max-content;

  background-color: #f4f4f4;
  border-radius: 25px;
}

.login-wrapper a {
  font-size: 50px;
  text-decoration: none;
  color: #619c03;
}

.toMain {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
}

#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;

  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

#login-form input::placeholder {
  color: #4a4a4a;
}

#login-form > input[type="submit"] {
  color: #fff;
  font-size: 22px;
  background-color: #929a85;
  margin-top: 20px;
}

.signToSign {
  display: flex;
  justify-content: center;
}

.signToSign a {
  font-size: 15px;
  text-decoration: none;
  color: #619c03;
}

/* select box 디자인 */
#gugun {
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
  border-color: #333;

  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

option {
  height: 25px;
}

.nearMain {
  height: 80vh;
}

/* 검색화면 css */
.left {
  width: 100%;
  text-align: center;
}

.left > img {
  width: 80%;
}

.right {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-size: 4vw;

  color: #4a4a4a;
  background-color: #ededed;
  border-radius: 1em;
  padding: 0.2em 1em 0.2em 1em;
}

.right > .recycleAble {
  display: flex;
  flex-direction: row;
}

.right > .recycleHow {
  display: flex;
  flex-direction: row;
}

.warning > ul {
  padding-inline-start: 1.5em;
  line-height: 1.2;
}

.warning > ul > li {
  margin-bottom: 0.6em;
}

.deco {
  width: fit-content;
  border-bottom: 3px dotted #619c03;
  padding-bottom: 2px;
}

.S_main {
  gap: 0;
  flex-direction: column;
}

/* 대형폐기물 텝메뉴 */
.tab_menu {
  overflow: hidden;
  padding: 1px;
  display: flex;
  width: 40%;
}
.tab_menu > ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}
.tab_menu > ul > li {
  flex-grow: 1;
}
.tab_menu ul li a {
  display: block;
  border: #d0d0d0 solid 1px;
  background-color: #f4f4f4;
  line-height: 22px;
  padding: 16px 0;
  text-align: center;
  color: #333333;
  font-weight: 600;
  text-decoration: none;
}

.tab_menu ul li.on a,
.tab_menu ul li a:hover {
  background-color: #619c03;
  color: #fff;
}

.ovMain {
  display: flex;
  flex-direction: column;
}

.tab_menu > ul > .active > a {
  display: block;
  border: #d0d0d0 solid 1px;
  background-color: #619c03;
  color: #fff;
  line-height: 22px;
  padding: 16px 0;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .swiper-slide-active {
    background: #85c124;
  }

  .swiper-slide-next {
    background: #619c03;
  }
}

@media screen and (min-width: 768px) {
  .navBar {
    font-size: 1rem;
  }

  .nav_contents {
    padding: 1.2rem 2rem;
    height: 5.6rem;
  }

  /* 검색창 */
  .nav_contents .search-container {
    padding: 14px;
  }

  main {
    padding: 2em;
    padding-top: 8rem;
  }

  /* 요일별 분리수거일 컨테이너 */
  .contents .firstRow {
    height: 440px;
  }

  /* Swiper 좌우 버튼 */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2rem !important;
  }
  /* 대형폐기물, 근처 수거함 */
  .contents .secondRow {
    height: 350px;
    flex-direction: row;
  }

  /* 대형 */
  .contents .secondRow .oversizedWaste {
    font-size: 5vw;
  }

  .imgWrapper {
    width: 15vw;
  }
  .oversizeImg {
    width: 15vw;
  }

  /* 근처 */
  .contents .secondRow .near {
    font-size: 5vw;
  }

  .swiper-slide {
    font-size: 40px;
  }

  /* 로그인 */
  .login-wrapper {
    width: 400px;
  }

  /* select box 디자인 */
  .nearMain {
    height: 75vh;
  }

  /* 검색화면 css */
  .left {
    width: 40vw;
  }

  .left > img {
    width: 40vw;
  }

  .right {
    font-size: 1.8vw;
  }

  .S_main {
    gap: 2em;
    flex-direction: row;
  }
}
